@import "../../app";
@import "../highlightjs/material-dark";

// Define the dark theme.
$primary: mat-palette($mat-emerald);
$accent: mat-palette($mat-ruby);
$warn: mat-palette($mat-red);

$theme: mat-dark-theme($primary, $accent, $warn);
@include angular-material-theme($theme);
