@import "../../app";
@import "../highlightjs/material-light";

// Define the light theme.
$primary: mat-palette($mat-emerald);
$accent: mat-palette($mat-ruby);
$warn: mat-palette($mat-red);

$theme: mat-light-theme($primary, $accent, $warn);
@include angular-material-theme($theme);
